MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/medicine_db
MONGO_URI=mongodb+srv://username:password@cluster.mongodb.net/medicine_db
PORT=5000
NODE_ENV=development
WHATSAPP_NUMBER=919023178824
