# Get your full connection string from MongoDB Atlas → Connect → Connect your application
MONGODB_URI=mongodb+srv://mvasoya829_db_user:Bhuri2026@medicine.224a9s8.mongodb.net/medicine_db?retryWrites=true&w=majority&appName=medicine
MONGO_URI=mongodb+srv://mvasoya829_db_user:Bhuri2026@medicine.224a9s8.mongodb.net/medicine_db?retryWrites=true&w=majority&appName=medicine
PORT=5000
NODE_ENV=development
WHATSAPP_NUMBER=919023178824
